body{
    margin-top:20px;
    background-color:#f2f6fc;
    color:#69707a;
    }
    .img-account-profile {
        height: 10rem;
    }
    .rounded-circle {
        border-radius: 50% !important;
    }
    .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }
    .card .card-header {
        font-weight: 500;
    }
    .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0 0;
    }
    .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }
    .form-control, .dataTable-input {
        display: block;
        width: 50%;
        padding: 0.875rem 1.125rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    
    .nav-borders .nav-link.active {
        color: #0061f2;
        border-bottom-color: #0061f2;
    }
    .nav-borders .nav-link {
        color: #69707a;
        border-bottom-width: 0.125rem;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    button{
          /* background: #5E5DF0;
          border-radius: 999px;
          box-shadow: #5E5DF0 0 10px 20px -10px;
          box-sizing: border-box;
          color: #FFFFFF;
          cursor: pointer;
          font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          opacity: 1;
          outline: 0 solid transparent;
          padding: 8px 10px;
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;
          width: fit-content;
          word-break: break-word;
          border: 0;
 */

          /* testing something */
  background-image: linear-gradient(144deg,#9a17f8, #2000ed 50%,#00DDEB);
  /* background: #5E5DF0; */
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-weight: bold;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
    }
            
.clear_btn{
    color: white;
    background-image: linear-gradient(144deg,#ff0000, #ff6c6c 50%,#f80000);
    border-radius: 10px;
    box-shadow: #ff786e 0 10px 20px -10px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    /* outline: 0 solid transparent; */
    padding: 8px 18px;
    margin-left: 70%;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
      }


        
/*     
        @mixin object-center {
            display: flex;
            justify-content: center;
            align-items: center;
          
          
          $circleSize: 165px;
          $radius: 100px;
          $shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
          $fontColor: rgb(250, 250, 250);
          
          .profile-pic {
            color: transparent;
            transition: all 0.3s ease;
            @include object-center;
            position: relative;
            transition: all 0.3s ease;
          
            input {
              display: none;
            }
          
            img {
              position: absolute;
              object-fit: cover;
              width: $circleSize;
              height: $circleSize;
              box-shadow: $shadow;
              border-radius: $radius;
              z-index: 0;
            }
          
            .-label {
              cursor: pointer;
              height: $circleSize;
              width: $circleSize;
            }
          
            :hover {
              .-label {
                @include object-center;
                background-color: rgba(0, 0, 0, 0.8);
                z-index: 10000;
                color: $fontColor;
                transition: background-color 0.2s ease-in-out;
                border-radius: $radius;
                margin-bottom: 0;
              }
            }
        }
            span {
              display: inline-flex;
              padding: 0.2em;
              height: 2em;
            }
        }
           */

           .profile-pic {
            border-radius: 50%;
            height: 150px;
            width: 150px;
            background-size: cover;
            background-position: center;
            background-blend-mode: multiply;
            vertical-align: middle;
            text-align: center;
            color: transparent;
            transition: all .3s ease;
            text-decoration: none;
            cursor: pointer;
        }
        
        .profile-pic:hover {
            background-color: rgba(0,0,0,.5);
            z-index: 10000;
            color: #fff;
            transition: all .3s ease;
            text-decoration: none;
        }
        
        .profile-pic span {
            display: inline-block;
            padding-top: 4.4em;
            /* padding-bottom: 4.5em; */
        }
        
        form input[type="file"] {
                  display: none;
                  cursor: pointer;
         }