* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 10000px;
  font-family: Roboto, Arial, sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #c9c9c9;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background: #969696;
}
/* start nav bar */
nav {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #ddd;
  padding: 10px 50px;
  z-index: 999;
}
@media (max-width: 600px) {
  nav {
    padding: 10px 15px;
  }
}
.nav-logo img {
  width: 70px;
}
.nav-search {
  width: 50%;
}
.nav-search input[type="search"] {
  background-color: #f1f3f4;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 100%;
  height: 45px;
  padding: 0 40px;
  font-size: 17px;
}
.nav-search input::placeholder {
  padding: 2px;
}
.profile {
  position: relative;
}
.profile img {
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
}
.profile .list {
  opacity: 0;
  position: absolute;
  right: -10px;
  top: 150%;
  background-color: #f8f8f8;
  width: 200px;
  border-radius: 5px;
  box-shadow: 0px 0px 7px #bebebe;
  transition: 0.3s;
  pointer-events: none;
}
.list.active-list {
  top: 110%;
  opacity: 1;
  pointer-events: all;
}
.list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list ul li {
  padding: 13px 10px;
}
.list ul li:hover {
  background-color: #e4e3e3;
}
.list ul li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
.list ul li a {
  color: black;
  text-decoration: none;
}
/* end nav bar */

/* start latest projects */
.Latest-project {
  margin-top: 30px;
  border-radius: 5px;
}
.Latest-project h2 {
  margin: 10px;
  font-size: 25px;
  color: #8f8f90;
}
.Latest-project-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 180px;
  overflow-x: auto;
}
.Latest-project-container::-webkit-scrollbar {
  display: none;
}
.latest-project-project-card {
  border: 1px #bebebe solid;
  border-radius: 5px;
  width: 170px;
  height: 190px;
  text-align: center;
  margin: 10px;
}
.latest-project-project-card h5 {
  border-top: #bebebe 1px solid;
  padding-top: 10px;
}
/* end latest projects */
